.nft {
  @include flex-layout(row, center, flex-start);
  @include device(mobile) {
    flex-direction: column;
  }
}
.nft-left {
  padding: $sm;

  flex-basis: 50%;

  // border-bottom-right-radius: 5px;
  img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0;
  }
  @include device(mobile) {
    margin-bottom: $sm;
    width: 100%;
  }
}
.nft-right {
  padding: $sm;
  border: radius 10px;
  flex-basis: 50%;

  @include flex-layout(column, center, flex-start);
  gap: $sm;
  @include device(mobile) {
    width: 100%;
  }
}
.nft-right-header {
  width: 100%;

  @include flex-layout(row, space-between, center);
  h1 {
    font-size: $xxl;
  }
  .nft-right-header-info {
    @include flex-layout(row, center, center);
    gap: $xs;
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      object-fit: cover;
      //   object-position: 50% 0;
    }
    p {
      font-size: $lg;
    }
  }
}
.nft-bottom {
  padding: $xs;
  p {
    font-weight: 300;
  }
}
.nft-right-body {
  padding: $sm 0;
  width: 100%;
  @include flex-layout(row, space-between, center);
}
