.nft-container {
  .back-button {
    font-size: $xxl;
    margin-left: $md;
  }
}
.nft {
  @include flex-layout(row-reverse, center, flex-start);
  @include device(mobile) {
    flex-direction: column;
  }
}
.nft-left {
  padding: $sm;
  flex-basis: 50%;
  border-radius: 10px;
  .nft-left-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    img {
      border-radius: 10px;
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: 50% 0;
    }
    .overlay {
      position: absolute;
      // height: 70px;
      // width: 100%;
      bottom: $md;
      border-radius: 25px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(4px);
      @include flex-layout(row, center, center);
    }
    .infolay {
      @include flex-layout(column, center, center);
      position: absolute;
      right: $sm;
      top: $sm;
      gap: $sm;
      background-color: rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.4);
      padding: $sm;
      border-radius: 10px;

      span {
        @include flex-layout(row, center, center);
        gap: $xs;
      }
    }
  }
  @include device(mobile) {
    margin-bottom: $sm;
    width: 100%;
  }
}
.nft-right {
  padding: $sm;
  border: radius 10px;
  flex-basis: 50%;

  @include flex-layout(column, center, flex-start);
  gap: $sm;
  @include device(mobile) {
    width: 100%;
  }
}
.nft-right-header {
  width: 100%;
  border-bottom: 2px solid $theme-accent1;
  padding: 0 0 $sm 0;
  @include flex-layout(row, space-between, center);
  h1 {
    font-size: $xxl;
    span {
      padding: 0 $sm;
      font-size: 14px;
    }
  }
  .nft-right-header-info {
    @include flex-layout(row, center, center);
    gap: $xs;
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      object-fit: cover;
      //   object-position: 50% 0;
    }
    p {
      font-size: $lg;
    }
  }
}
.nft-body {
  p {
    font-weight: 300;
  }
}
.nft-right-body {
  width: 100%;
  @include flex-layout(row, space-between, center);
}

.nft-footer {
  padding: $sm;
  width: 100%;
  @include flex-layout(row, space-between, center);
  .nft-footer-info {
    // font-size: $lg;
    padding: $sm $lg;
    font-weight: 700;
    border-radius: 20px;
    background-color: $theme-accent3;
    @include flex-layout(row, center, center);
    gap: $xs;
    span {
      @include flex-layout(row, center, center);
    }
  }
}
.nft-footer-actions {
  @include flex-layout(row, center, center);
  gap: $sm;

  .like-btn {
    @include flex-layout(row, center, center);
    font-size: $lg;

    padding: $sm;
  }
}
