* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;

  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}
body {
  // display: flex;

  background-color: #000000;
  color: #dde6ed;
  height: 100vh;
  max-height: max-content;
}
::-webkit-scrollbar {
  display: none;
  // background: transparent;
  // height: 5px;
  // width: 5px;
}
