$xs: 0.25rem;
$sm: 0.5rem;
$md: 0.75rem;
$lg: 1rem;
$xl: 1.25rem;
$xxl: 1.5rem;

$theme-accent1: #ea117a;
$theme-accent2: #5b8fb9;
$theme-accent3: #fec260;

// $theme-accent1: #e9493d;
// $theme-accent2: #5fbdc1;
// $theme-accent3: #fda800;

$text-color: #dde6ed;
